<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<add name="PSContext" connectionString="data source=10.200.11.60;initial catalog=date;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
		
	</connectionStrings>
</configuration>